<div>
	<h2>Add Hero</h2>
	<div>
		<p>Name:
			<input #name placeholder="name"/>
		</p>
		<p>Birthday:
			<input class="input-birthday"
				[attr.min]="min.day"
				[attr.max]="max.day"
				type="number"
				placeholder="day"
				#day
			/>
			<input class="input-birthday"
				[attr.min]="min.month"
				[attr.max]="max.month"
				type="number"
				placeholder="month"
				#month
			/>
			<input class="input-birthday"
				[attr.min]="min.year"
				[attr.max]="max.year"
				type="number"
				placeholder="year"
				#year
			/>
		</p>
		<div>
			<p>Male</p>
			<input class="input-true"
				[checked]="sex"
				(click)="onChangesSex(true)"
				type="radio"
			/>
			<p>Fmale</p>
			<input class="input-false"
				[checked]="!sex"
				(click)="onChangesSex(false)"
				type="radio"
			/>
		</div>
		<p>Description:
			<input #description placeholder="name"/>
		</p>
		<div>
			<p>Status Yes:</p>
			<input class="input-true"
				[checked]="status"
				(click)="onChangesStatus(true)"
				type="radio"
			/>
			<p>Status No:</p>
			<input class="input-false"
				[checked]="!status"
				(click)="onChangesStatus(false)"
				type="radio"
			/>
		</div>
	</div>
	<button (click)="goBack()">go back</button>
	<button (click)="add(name.value, day.value, month.value, year.value, description.value)">Add</button>
</div>
